@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css?family=Oxanium:400,700,500");

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

input {
  border: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #bcbcbc;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #bcbcbc;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #bcbcbc;
}

input, select, textarea{
  color: #cbcbcb
}

.submit-button {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
}

.submit-button:hover, .submit-button:active {
  cursor: pointer;
}