:root { 
  --black: #000000;
  --celeste: #cbcbcb;
  --eerie-black: #191b1f;
  --electric-violet: #5001eb;
  --heat-wave: #ff7401;
  --royal-heath: #aa3c73;
  --silver: #bcbcbc;
  --white: #ffffff;
 
  --font-size-l: 36px;
  --font-size-m: 32px;
  --font-size-s: 24px;
  --font-size-xl: 48px;
  --font-size-xs: 18px;
  --font-size-xxl: 56px;
  --font-size-xxxl: 72px;
  --font-size-xxs: 12px;
 
  --font-family-oxanium: "Oxanium", Helvetica;
}
.oxanium-medium-white-32px {
  color: #ffffff;
  font-family: var(--font-family-oxanium);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.oxanium-medium-black-32px {
  color: #000000;
  font-family: var(--font-family-oxanium);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.oxanium-medium-celeste-18px {
  color: var(--celeste);
  font-family: var(--font-family-oxanium);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 500;
}

.oxanium-medium-eerie-18px {
  color: #191b1f;
  font-family: var(--font-family-oxanium);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 500;
}

.oxanium-medium-white-24px {
  color: #ffffff;
  font-family: var(--font-family-oxanium);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 500;
}

.oxanium-medium-celeste-24px {
  color: var(--celeste);
  font-family: var(--font-family-oxanium);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 500;
}

.oxanium-medium-white-36px {
  color: #ffffff;
  font-family: var(--font-family-oxanium);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
}

.oxanium-medium-black-24px {
  color: #000000;
  font-family: var(--font-family-oxanium);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 500;
}

.oxanium-medium-black-36px {
  color: #000000;
  font-family: var(--font-family-oxanium);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
}

.oxanium-normal-electric-violet-36px {
  color: #5001eb;
  font-family: var(--font-family-oxanium);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.oxanium-normal-heat-wave-36px {
  color: #ff7401;
  font-family: var(--font-family-oxanium);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.oxanium-normal-royal-heath-36px {
  color: #aa3c73;
  font-family: var(--font-family-oxanium);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.oxanium-normal-electric-violet-32px {
  color: #5001eb;
  font-family: var(--font-family-oxanium);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.oxanium-medium-white-18px {
  color: #ffffff;
  font-family: var(--font-family-oxanium);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 500;
}

.oxanium-medium-black-18px {
  color: #000000;
  font-family: var(--font-family-oxanium);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 500;
}

.oxanium-medium-celeste-32px {
  color: var(--celeste);
  font-family: var(--font-family-oxanium);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.oxanium-medium-celeste-48px {
  color: var(--celeste);
  font-family: var(--font-family-oxanium);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
}

.oxanium-medium-eerie-48px {
  color: var(--eerie-black);
  font-family: var(--font-family-oxanium);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
}

.oxanium-medium-white-48px {
  color: #ffffff;
  font-family: var(--font-family-oxanium);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
}

.oxanium-medium-black-48px {
  color: #000000;
  font-family: var(--font-family-oxanium);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
}

.oxanium-medium-white-56px {
  color: #ffffff;
  font-family: var(--font-family-oxanium);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 500;
}

.oxanium-medium-black-56px {
  color: #000000;
  font-family: var(--font-family-oxanium);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 500;
}

.oxanium-medium-eerie-32px {
  color: #191B1F;
  font-family: var(--font-family-oxanium);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.oxanium-bold-white-56px {
  color: #ffffff;
  font-family: var(--font-family-oxanium);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.oxanium-bold-white-72px {
  color: #ffffff;
  font-family: var(--font-family-oxanium);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
}

.oxanium-bold-black-72px {
  color: #000000;
  font-family: var(--font-family-oxanium);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
}

.oxanium-bold-black-56px {
  color: #000000;
  font-family: var(--font-family-oxanium);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.oxanium-normal-electric-violet-48px {
  color: #5001eb;
  font-family: var(--font-family-oxanium);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.oxanium-bold-electric-violet-48px {
  color: #5001eb;
  font-family: var(--font-family-oxanium);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.oxanium-bold-electric-violet-56px {
  color: #5001eb;
  font-family: var(--font-family-oxanium);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.oxanium-normal-heat-wave-48px {
  color: #ff7401;
  font-family: var(--font-family-oxanium);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.oxanium-bold-heat-wave-48px {
  color: #ff7401;
  font-family: var(--font-family-oxanium);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.oxanium-bold-heat-wave-56px {
  color: #ff7401;
  font-family: var(--font-family-oxanium);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.oxanium-medium-heat-wave-56px {
  color: #ff7401;
  font-family: var(--font-family-oxanium);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 500;
}

.oxanium-medium-royal-health-56px {
  color: #aa3c73;
  font-family: var(--font-family-oxanium);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 500;
}

.oxanium-normal-royal-heath-48px {
  color: #aa3c73;
  font-family: var(--font-family-oxanium);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.oxanium-bold-royal-heath-48px {
  color: #aa3c73;
  font-family: var(--font-family-oxanium);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.oxanium-bold-royal-heath-56px {
  color: #aa3c73;
  font-family: var(--font-family-oxanium);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.oxanium-medium-white-36px-2 {
  font-family: var(--font-family-oxanium);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
}

.oxanium-medium-black-36px-2 {
  font-family: var(--font-family-oxanium);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
}

.oxanium-medium-heat-wave-36px {
  color: #ff7401;
  font-family: var(--font-family-oxanium);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
}

.oxanium-medium-pink-36px {
  color: #AA3C73;
  font-family: var(--font-family-oxanium);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
}

.oxanium-medium-silver-30px {
  color: #bcbcbc;
  font-family: var(--font-family-oxanium);
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
}

.oxanium-medium-eerie-30px {
  color: #191b1f;
  font-family: var(--font-family-oxanium);
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
}

.oxanium-medium-celeste-28px {
  color: var(--celeste);
  font-family: var(--font-family-oxanium);
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
}

.oxanium-medium-black-28px {
  color: #000000;
  font-family: var(--font-family-oxanium);
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
}