.desktop {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 4762px;
  width: 100%;
  background-color: #191b1f;
}

.desktop-light {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 4762px;
  width: 100%;
  background-color: #EFF1F0;
}

.section-one {
  align-items: flex-start;
  background-color: #191b1f;
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100vh;
}

.section-one-light {
  align-items: flex-start;
  background-color: #EFF1F0;
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100vh;
}

.overlap-group3 {
  height: 74px;
  position: relative;
  width: 100%;
}

.logo-dark-mode {
  height: 31px;
  left: 27px;
  object-fit: cover;
  position: absolute;
  top: 18px;
  width: 96px;
}

.navigation {
  display: flex;
  height: 74px;
  justify-content: flex-end;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.overlap-group4 {
  height: 540px;
  margin-left: 0;
  margin-top: 20vh;
  position: relative;
  width: 100%;
}

.background {
  background-position: 50% 50%;
  background-size: cover;
  height: 60vh;
  left: 0;
  position: absolute;
  bottom: 0px;
  width: 100%;
  z-index: 100;
}

.section-one-text {
  height: 130px;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0;
  position: relative;
  text-align: center;
  width: 1031px;
  z-index: 200;
}

.section-one-title {
  height: 140px;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0;
  position: relative;
  text-align: center;
  top: 0;
  width: 1031px;
  z-index: 200;
}

.overlap-group {
  align-items: flex-start;
  background-color: #ff7401;
  border-radius: 5px;
  display: flex;
  height: 55px;
  margin-left: auto;
  margin-right: auto;
  width: 268px;
  padding: 0 0.3px;
  position: relative;
  top: 50px;
  z-index: 200;
}

.overlap-group:hover {
  background-color: #ff821b;
  cursor: pointer;
}

.overlap-group-light {
  align-items: flex-start;
  background-color: #AA3C73;
  border-radius: 5px;
  display: flex;
  height: 55px;
  margin-left: auto;
  margin-right: auto;
  width: 268px;
  padding: 0 0.3px;
  position: relative;
  top: 50px;
  z-index: 200;
}

.overlap-group-light:hover {
  background-color: #bd4380;
  cursor: pointer;
}

.action-text {
  height: 55px;
  letter-spacing: 0;
  text-align: center;
  width: 267px;
}

.section {
  background-color: #191b1f;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%
}

.section-light {
  background-color: #EFF1F0;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%
}

.section-two-title {
  align-self: center;
  height: 46px;
  margin-left: 1.0px;
  margin-top: 139px;
  width: 635.5px;
}

.section-two-text {
  flex: 1;
  letter-spacing: 0;
  margin-left: 11.25%;
  margin-right: 11.25%;
  margin-top: 73px;
  max-height: 410px;
  text-align: center;
}

.section-three {
  background-color: #191b1f;
  display: flex;
  flex: 1;
  justify-content: center;
  max-height: 238px;
}

.section-three-light {
  background-color: #EFF1F0;
  display: flex;
  flex: 1;
  justify-content: center;
  max-height: 238px;
}

.section-three-title {
  height: 96.5px;
  margin-left: 1.0px;
  margin-top: 113.8px;
  width: 666.5px;
}

.section-1 {
  flex: 1;
  letter-spacing: 0;
  margin-left: 9.69%;
  margin-right: 9.69%;
  margin-top: 86px;
  max-height: 152px;
}

.section-2 {
  flex: 1;
  letter-spacing: 0;
  margin-left: 9.69%;
  margin-right: 9.69%;
  margin-top: 20px;
  max-height: 410px;
}

.section-five-title {
  flex: 1;
  letter-spacing: 0;
  margin-left: 9.69%;
  margin-right: 9.69%;
  margin-top: 86px;
  max-height: 152px;
  text-align: right;
}

.section-five-text {
  flex: 1;
  letter-spacing: 0;
  margin-left: 9.69%;
  margin-right: 9.69%;
  margin-top: 20px;
  max-height: 410px;
  text-align: right;
}

.section-seven {
  align-items: flex-start;
  background-color: #191b1f;
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100%;
}

.section-seven-light {
  align-items: flex-start;
  background-color: #EFF1F0;
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100%;
}

.section-seven-title {
  align-self: center;
  height: 46px;
  margin-left: 1.0px;
  margin-top: 30vh;
  width: 659.5px;
}

.section-seven-text {
  flex: 1;
  letter-spacing: 0;
  margin-left: 21.03%;
  margin-right: 20.95%;
  margin-top: 10vh;
  max-height: 152px;
  text-align: center;
}

.span1 {
  text-decoration: underline;
}

.footer {
  margin-top: 25vh;
  height: 235px;
  position: relative;
  min-width: 100%;
}

.overlap-group2 {
  min-height: 235px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.copyright-notice {
  height: 68px;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 167px;
  width: 100%;
  background: #191b1f;
}

.copyright-notice-light {
  height: 68px;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 167px;
  width: 100%;
  background: #EFF1F0;
}

.footer-nav {
  height: 235px;
  float: right;
  margin-right: 70px;
  letter-spacing: 0;
  text-align: right;
  top: 0;
  width: 187px;
}

.overlap-group-1 {
  align-items: center;
  background-color: #ffffff;
  border-radius: 5px;
  display: flex;
  height: 63px;
  left: 574px;
  min-width: 276px;
  padding: 0 26.8px;
  position: absolute;
  top: 86px;
}



.overlap-group-1:hover, .overlap-group-1:active {
  background-color: #191b1f;
  cursor: pointer;
}


.subscribe-button-text {
  height: 23px;
  width: 222px;
}

.overlap-group1 {
  align-items: center;
  background-size: 100% 100%;
  display: flex;
  height: 59px;
  justify-content: flex-end;
  left: 70px;
  min-width: 490px;
  padding: 0 1.8px;
  position: absolute;
  top: 88px;
}

.subscribe-input-text {
  height: 55px;
  letter-spacing: 0;
  width: 475px;
  margin-right: 5px;
}

.logo-dark-mode-1 {
  height: 31px;
  left: 72px;
  object-fit: cover;
  position: absolute;
  top: 9px;
  width: 96px;
}

.footer-nav-dark {
  color: #cbcbcb;
}

.footer-nav-dark:hover {
  color: white;
  cursor: pointer;
}

.footer-nav-light {
  color: #191b1f;
}

.footer-nav-light:hover {
  color: #5c6372;
  cursor: pointer;
}