.container-dark {
  background-color: #191b1f;
}

.container-light {
  background-color: #EFF1F0;
}

.tablet {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 6387px;
  width: 100%;
  background-color: #191b1f;
}

.tablet-light {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 6387px;
  width: 100%;
  background-color: #EFF1F0;
}

.section-one-1 {
  align-items: center;
  background-color: #191b1f;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.section-one-1-light {
  align-items: center;
  background-color: #EFF1F0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.overlap-group3-1 {
  height: 74px;
  position: relative;
  width: 100%;
}

.logo-dark-mode-2 {
  height: 72px;
  left: 32px;
  object-fit: cover;
  position: absolute;
  top: 32px;
  width: 220px;
}

.navigation-1 {
  display: flex;
  height: 74px;
  justify-content: flex-end;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.section-one-title-1 {
  height: 285px;
  letter-spacing: 0;
  margin-top: 20vh;
  text-align: center;
  width: 85%;
  z-index: 200;
}

.section-one-text-1 {
  height: 285px;
  letter-spacing: 0;
  text-align: center;
  width: 85%;
  z-index: 200;
}

.overlap-group4-1 {
  height: 60%;
  bottom: 0px;
  width: 100%;
  background-size: cover;
  position: absolute;
  z-index: 100;
}

.overlap-group-2 {
  align-items: flex-start;
  background-color: #ff7401;
  border-radius: 5px;
  display: flex;
  width: 85%;
  padding: 0 0.3px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
  position: relative;
  z-index: 200;
}

.overlap-group-2:hover {
  background-color: #ff821b;
}

.overlap-group-2-light {
  align-items: flex-start;
  background-color: #AA3C73;
  border-radius: 5px;
  display: flex;
  width: 85%;
  padding: 0 0.3px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  position: relative;
  z-index: 200;
}

.overlap-group-2-light:hover {
  background-color: #bd4380;
}

.action-text-1 {
  height: 95px;
  letter-spacing: 0;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.section-3 {
  background-color: #191b1f;
  display: flex;
  flex-direction: column;
  height: 994px;
  width: 100%;
}

.section-3a {
  background-color: #191b1f;
  display: flex;
  flex-direction: column;
  height: 1450px;
  width: 100%;
}

.section-3-light {
  background-color: #EFF1F0;
  display: flex;
  flex-direction: column;
  height: 994px;
  width: 100%;
}

.section-3a-light {
  background-color: #EFF1F0;
  display: flex;
  flex-direction: column;
  height: 1450px;
  width: 100%;
}

.section-two-title-1 {
  align-self: center;
  height: 70px;
  margin-top: 203px;
  width: 85%;
}

.section-two-text-1 {
  flex: 1;
  letter-spacing: 0;
  margin-left: 7.5%;
  margin-right: 7.5%;
  margin-top: 116px;
  max-height: 519px;
  text-align: center;
}

.section-three-1 {
  background-color: #191b1f;
  display: flex;
  height: 377px;
  justify-content: center;
  width: 100%;
}

.section-three-1-light {
  background-color: #EFF1F0;
  display: flex;
  height: 377px;
  justify-content: center;
  width: 100%;
}

.section-three-title-1 {
  height: 140px;
  margin-top: 156px;
  width: 85%;
}

.section-4 {
  flex: 1;
  letter-spacing: 0;
  margin-left: 9.71%;
  margin-right: 9.71%;
  margin-top: 135px;
  max-height: 182px;
}

.section-5 {
  flex: 1;
  letter-spacing: 0;
  margin-left: 9.71%;
  margin-right: 9.71%;
  margin-top: 5vh;
  max-height: 800px;
}

.section-five-title-1 {
  flex: 1;
  letter-spacing: 0;
  margin-left: 9.71%;
  margin-right: 9.71%;
  margin-top: 135px;
  max-height: 182px;
  text-align: right;
}

.section-five-text-1 {
  flex: 1;
  letter-spacing: 0;
  margin-left: 9.71%;
  margin-right: 9.71%;
  margin-top: 5vh;
  max-height: 800px;
  text-align: right;
}

.section-seven-3 {
  background-color: #191b1f;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.section-seven-3-light {
  background-color: #EFF1F0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.section-seven-title-1 {
  align-self: center;
  height: 70px;
  margin-top: 25vh;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.section-seven-text-1 {
  flex: 1;
  letter-spacing: 0;
  width: 85%;
  max-height: 317px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
}

.span1-1 {
  text-decoration: underline;
}

.footer-1 {
  flex: 1;
  margin-top: 237px;
  max-height: 235px;
  position: relative;
  background: #191b1f;
  min-width: 100%;
}

.footer-1-light {
  flex: 1;
  margin-top: 237px;
  max-height: 235px;
  position: relative;
  background: #EFF1F0;
  min-width: 100%;
}

.overlap-group2-1 {
  height: 235px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.footer-nav-1 {
  height: 235px;
  float: right;
  margin-right: 45px;
  letter-spacing: 0;
  position: relative;
  text-align: right;
  top: 0;
  width: 143px;
}

.copyright-notice-1 {
  height: 68px;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 167px;
  width: 100%;
  background: #191b1f;
}

.copyright-notice-1-light {
  height: 68px;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 167px;
  width: 100%;
  background: #EFF1F0;
}

.overlap-group-3 {
  align-items: center;
  background-color: #ffffff;
  border-radius: 5px;
  display: flex;
  height: 63px;
  left: 373px;
  min-width: 228px;
  padding: 0 24.8px;
  position: absolute;
  top: 86px;
}

.subscribe-button-text-1 {
  height: 18px;
  width: 178px;
}

.overlap-group1-1 {
  align-items: center;
  background-size: 100% 100%;
  display: flex;
  height: 59px;
  justify-content: flex-end;
  left: 45px;
  min-width: 321px;
  padding: 0 1.7px;
  position: absolute;
  top: 88px;
}

.subscribe-input-text-1 {
  color: #191b1f;
  font-family: var(--font-family-oxanium);
  font-size: var(--font-size-s);
  font-weight: 500;
  height: 55px;
  letter-spacing: 0;
  width: 306px;
  margin-right: 5px;
}

.logo-dark-mode-3 {
  height: 31px;
  left: 47px;
  object-fit: cover;
  position: absolute;
  top: 22px;
  width: 96px;
}


.footer-nav-dark {
  color: #cbcbcb;
}

.footer-nav-dark:hover {
  color: white;
  cursor: pointer;
}

.footer-nav-light {
  color: #191b1f;
}

.footer-nav-light:hover {
  color: #5c6372;
  cursor: pointer;
}

.overlap-group-3:hover, .overlap-group-3:active {
  background-color: #191b1f;
  cursor: pointer;
}

.nav-menu-22 {
  height: 92px;
  margin-right: 32px;
  margin-top: 17px;
  width: 92px;
}

.overlap-group-5 {
  align-items: center;
  background-size: 100% 100%;
  display: flex;
  height: 95px;
  padding: 0 8.0px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.overlap-group1-2 {
  align-items: center;
  background-color: #ffffff;
  border-radius: 5px;
  display: flex;
  height: 95px;
  width: 85%;
  margin-top: 14px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.overlap-group1-2:hover, .overlap-group-3:active {
  background-color: #191b1f;
  cursor: pointer;
}


.footer-2 {
  align-items: center;
  margin-top: auto;
  height: 480px;
  width: 100%;
  background: #191b1f;
}

.footer-2-light {
  align-items: center;
  margin-top: auto;
  height: 480px;
  width: 100%;
  background: #EFF1F0;
}

.flex-row {
  align-items: flex-start;
  display: flex;
  margin-right: 4.0px;
  margin-top: 23px;
  min-width: 328px;
  width: 100%;
}

.subscribe-input-text-2 {
  letter-spacing: 0;
  height: 85px;
  width: 100%;
}


.logo-dark-mode-5 {
  height: 72px;
  margin-top: 32px;
  object-fit: cover;
  width: 220px;
  margin-left: 32px;
}

.logo-dark-mode-2 {
  height: 72px;
  left: 32px;
  object-fit: cover;
  position: absolute;
  top: 32px;
  width: 220px;
}

.footer-nav-2 {
  height: 119px;
  letter-spacing: 0;
  margin-right: 32px;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: auto;
  text-align: right;
  position: relative;
  float: right;
}

.copyright-notice-2 {
  color: var(--celeste);
  font-family: var(--font-family-oxanium);
  font-size: var(--font-size-m);
  font-weight: 500;
  height: 42px;
  letter-spacing: 0;
  text-align: center;
  width: 100%;
}

.copyright-notice-2-light {
  color: #191b1f;
  font-family: var(--font-family-oxanium);
  font-size: var(--font-size-m);
  font-weight: 500;
  height: 42px;
  letter-spacing: 0;
  text-align: center;
  width: 100%;
}

.footer-nav-dark {
  color: #cbcbcb;
}

.footer-nav-dark:hover {
  color: white;
  cursor: pointer;
}

.footer-nav-light {
  color: #191b1f;
}

.footer-nav-light:hover {
  color: #5c6372;
  cursor: pointer;
}

.form {
  width: 100%;
}