.mobile-overlay {
  background-color: #191b1f;
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 232px;
  position: absolute;
  top: 0px;
  right: 0px;
  margin-right: 8px;
}

.nav-dark {
 color: var(--celeste); 
}

.nav-dark:hover {
  color: white;
  cursor: pointer;
}

.nav-light {
  color: #000000
}

.nav-light:hover {
  color: #5c6372;
  cursor: pointer;
}

.mobile-overlay-light {
  background-color: #EFF1F0;
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 232px;
  position: absolute;
  top: 0px;
  right: 0px;
  margin-right: 8px;
}

.overlay-close {
  height: 25px;
  margin-left: 84px;
  margin-top: 15.5px;
  width: 24px;
}

.nav-light-mode-2 {
  height: 82px;
  margin-left: 120px;
  margin-top: 22px;
  margin-bottom: 2px;
  width: 82px;
}

.overlay-nav {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 60px;
  margin-right: 32px;
  text-align: right;
  width: 232px;
}

.popup-content {
  top: -50%;
  right: -50%;
}